//Global colors
$primary-color :#fe538d;
$secondary-color :#FFB703;
$text-color: #000000;
$text-white :#FFFFFF;


//Main font
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: "Rubik" sans-serif;

}

h1 {
    font-size: 4.5em;
    font-weight: bold;

}

h2 {
    font-size: 3em;
}


h3 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

header {
    nav {
        .nav-link {
            text-transform: uppercase;
            color: $text-color;
            font-size: 1em;
            font-weight: 700;
            margin-left: 20px;

        }

        .logo {
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 500;

            span {
                color: $primary-color;

            }
        }
    }
}

.section-1 {
    // background-image: url(../images/hero.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/hero.jpg);
    min-height: 800px;

    //text Centering the image
    display: flex;
    align-items: center;
    justify-content: center;


    color: $text-white;

    span {
        color: #FFB703;
    }

}

.btn-primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;

    padding: 15px 20px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;

    }

}

.btn-secondary {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;



    padding: 15px 20px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
        background-color: $primary-color;
        border: 1px solid $primary-color;

    }

}

.section-2{
    img{
        border-radius: 40px;

    }
    span{
        color: $primary-color;
        font-size: 1.2em ; 
        text-transform: uppercase; //capitalse  ABC...
        padding-bottom: 10px;   // adds 10px of space below the element
        font-weight: 500;  //opacity
    }
}