//Global colors
$primary-color: #007bff;
$secondary-color: #ff7e67;
$text-color: #212529;
$text-white: #ffffff;
$dark-background: #222222;
$light-background: #ff1b1b;
$main-background :#eeeeee;


//Main font
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: "Rubik", sans-serif;


}

h1 {
    font-size: 4.5em;
    font-weight: bold;

}

h2 {
    font-size: 3em;
}


h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

ul {
    margin-left: 0;
    padding-left: 0;

    li {
        list-style: none; //remove the bullet pints
    }
}

a {
    text-decoration: none;
    color: $text-color;

    &:hover {
        color: $primary-color;
    }
}

header {
    background-color: $main-background;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    nav {
        .nav-link {
            text-transform: uppercase;
            color: $text-color;
            font-size: 1em;
            font-weight: 500;
            margin-left: 20px;

        }

        .logo {
            // Fix: Changed width from 1% to a visible size
            width: 150px; 
            height: auto;
            display: flex;
            align-items: center;
            
            img {
                width: 100%;
                height: auto;
                object-fit: contain; // Ensures the logo isn't stretched
            }
        }
    }
}

footer {
    background-color: $dark-background;
    color: $text-white;

    h3 {
        font-size: 1.5em;
        color: $secondary-color;
    }

    ul {
        li {
            padding: 5px 0;
        }

    }

    a {
        color: $text-white;
        font-size: 1.2em;
        text-decoration: none; // remove the text uderlines
    }

    input {
        padding: 10px 10px;
        border-radius: 10px;

    }

    .btn-Submit {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;

        padding: 10px 10px;
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
            background-color: $primary-color;
            border: 1px solid $primary-color;

        }


    }

}

.section-1 {
    background-color: $main-background;

    .hero {
        // background-image: url(../images/hero.jpg);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/hero.jpg);
        min-height: 800px;

        //text Centering the image
        display: flex;
        align-items: center;
        justify-content: center;


        color: $text-white;

        span {
            color: #FFB703;
        }
    }

}


.small {
    padding: 10px 15px;
}

.large {
    padding: 15px 20px;


}

.btn-primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;


    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;

    }

}

.btn-secondary {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;




    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
        background-color: $primary-color;
        border: 1px solid $primary-color;

    }

}

.bg-light {
    background-color: $light-background;
}

.section-header {
    span {
        color: $primary-color;
        font-size: 1.2em;
        padding-bottom: 10px;
        display: block;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.section-2 {
    background-color: $main-background;

    img {
        border-radius: 40px;

    }

    span {
        color: $primary-color;
        font-size: 1.2em;
        text-transform: uppercase; //capitalse  ABC...
        padding-bottom: 10px; // adds 10px of space below the element
        font-weight: 500; //opacity
    }
}

.section-3 {
    background-color: $main-background;

    .item {
        position: relative;
        overflow: hidden;
        color: $text-white;
        margin-bottom: 20px;

        &:hover {
            .service-body {
                transform: translateY(0%);

                .service-content {
                    opacity: 1;
                }
            }
        }

        .service-image {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                border-radius: 40px;
                aspect-ratio: 1 / 1.2;
                object-fit: cover;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                border-radius: 40px;
                background: linear-gradient(rgba(217, 217, 217, 0), rgba(217, 217, 217, 0) 13.02%, rgba(0, 0, 0, 0.51) 42.5%, rgba(0, 0, 0, 0.63) 70%, rgb(0, 0, 0));
            }

        }

        .service-body {
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            transform: translateY(80%);
            transition: all 0.4s ease-in-out;

            .service-content {
                transition: all 0.4s ease-in-out;
                opacity: 0;
            }
        }
    }

}

.section-4 {
    background-color: $main-background;

    .card {
        border-radius: 40px;
        margin-bottom: 20px;

    }

}

.section-5 {
    background-color: $main-background;

    .swiper {
        padding: 25px 25px 50px 25px;

        .swiper-pagination-bullet-active {
            background-color: $secondary-color;
        }

    }

    .card {
        border-radius: 40px;

        .rating {
            color: $secondary-color;
        }

        .content {
            p {
                font-size: 1em;
            }
        }

        .meta {
            img {
                border-radius: 50%;

            }
        }

        .name {
            font-size: 1.3em;
            font-weight: 500;
        }

    }

}

.section-6 {
    background-color: $main-background;

    .card {
        border-radius: 40px;

        img {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
        }

        .card-body {
            a.title {
                font-size: 1.4em;
                font-weight: 400;

            }
        }
    }
}


.section-7 {
    background-color: $main-background;

    .hero {
        // background-image: url(../images/hero.jpg);
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/hero.jpg);
        min-height: 500px;

        color: $text-white;

        span {
            color: #FFB703;
        }

    }

}

.section-8 {
    background-color: $main-background;

    .card {
        border-radius: 40px;

        img {
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;

        }

        .card-body {
            a.title {
                font-size: 1.4em;
                font-weight: 400;

            }

            .card-title {
                font-size: 1.5em;
                font-weight: 500;
            }

            .card-sub-title {
                font-size: 1.3em;
                color: $light-background;
            }
        }
    }
}