//Global colors
$primary-color :#fe538d;
$secondary-color :#FFB703;
$text-color: #000000;
$text-white :#FFFFFF;
$dark-background : #222725;
$light-background : #9e9b9b;


//Main font
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");


body {
    font-family: "IBM Plex Sans", sans-serif;

}

h1 {
    font-size: 4.5em;
    font-weight: bold;

}

h2 {
    font-size: 3em;
}


h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

ul {
    margin-left: 0;
    padding-left: 0;

    li {
        list-style: none; //remove the bullet pints
    }
}

header {
    nav {
        .nav-link {
            text-transform: uppercase;
            color: $text-color;
            font-size: 1em;
            font-weight: 700;
            margin-left: 20px;

        }

        .logo {
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 500;

            span {
                color: $primary-color;

            }
        }
    }
}

footer {
    background-color: $dark-background;
    color: $text-white;

    h3 {
        font-size: 1.5em;
        color: $secondary-color;
    }

    ul {
        li {
            padding: 5px 0;
        }

    }

    a {
        color: $text-white;
        font-size: 1.2em;
        text-decoration: none; // remove the text uderlines
    }

    input {
        padding: 10px 10px;
        border-radius: 10px;

    }

    .btn-Submit {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;

        padding: 10px 10px;
        font-size: 1em;
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
            background-color: $primary-color;
            border: 1px solid $primary-color;

        }


    }

}

.section-1 {
    // background-image: url(../images/hero.jpg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../images/hero.jpg);
    min-height: 800px;

    //text Centering the image
    display: flex;
    align-items: center;
    justify-content: center;


    color: $text-white;

    span {
        color: #FFB703;
    }

}

.btn-primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;

    padding: 15px 20px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;

    }

}

.btn-secondary {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;



    padding: 15px 20px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
        background-color: $primary-color;
        border: 1px solid $primary-color;

    }

}

.bg-light {
    background-color: $light-background;
}

.section-header {
    span {
        color: $primary-color;
        font-size: 1.2em;
        padding-bottom: 10px;
        display: block;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.section-2 {
    img {
        border-radius: 40px;

    }

    span {
        color: $primary-color;
        font-size: 1.2em;
        text-transform: uppercase; //capitalse  ABC...
        padding-bottom: 10px; // adds 10px of space below the element
        font-weight: 500; //opacity
    }
}

.section-3 {

    .item {
        position: relative;
        overflow: hidden;
        color: $text-white;
        margin-bottom: 20px;

        &:hover {
            .service-body {
                transform: translateY(0%);

                .service-content {
                    opacity: 1;
                }
            }
        }

        .service-image {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                border-radius: 40px;
                aspect-ratio: 1 / 1.2;
                object-fit: cover;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                border-radius: 40px;
                background: linear-gradient(rgba(217, 217, 217, 0), rgba(217, 217, 217, 0) 13.02%, rgba(0, 0, 0, 0.51) 42.5%, rgba(0, 0, 0, 0.63) 70%, rgb(0, 0, 0));
            }

        }

        .service-body {
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            transform: translateY(80%);
            transition: all 0.4s ease-in-out;

            .service-content {
                transition: all 0.4s ease-in-out;
                opacity: 0;
            }
        }
    }

}

.section-4{
    .card{
        border-radius: 40px;
        margin-bottom: 20px;

    }
    
}

.section-5{
    .swiper{
        padding: 25px  25px 50px 25px;
        .swiper-pagination-bullet-active{
            background-color: $secondary-color;
        }

    }
    .card{
        border-radius: 40px;
        .rating{
            color: $secondary-color;
        }
        .content{
            p{
                font-size: 1em;
            }
        }

        .meta{
            img{
                border-radius: 50% ;

            }
        }
        .name{
            font-size: 1.3em;
            font-weight: 500;
        }

    }
    
}